<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header"><h2>Kirish</h2></div>
        <div class="card-body">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form' }) do |f| %>
            <div class="form-group">
              <%= f.input :email,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email", class: 'form-control' } %>
            </div>
            <div class="form-group">
              <%= f.input :password,
                          required: false,
                          input_html: { autocomplete: "current-password", class: 'form-control' } %>
            </div>
            <% if devise_mapping.rememberable? %>
              <%= f.input :remember_me, as: :boolean, label: 'Saqlab qolish', wrapper_html: { class: 'form-check-label' } %>
            <% end %>
            <div class="form-group">
              <%= f.button :submit, "Kirish", class: 'btn btn-primary btn-block' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
