<div class="card shadow-lg">
  <div class="card-header d-flex justify-content-between align-items-center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to 'Общий просмотр', delivery_from_counterparties_path, class: 'btn btn-secondary' %>
      <button type="button" class="btn btn-primary">Подробный просмотр</button>
    </div>
  </div>
  <%= render 'filter_form', q: @q, url: request.path %>
  <div class="card-body">
    <%= render 'product_entries/product_entries', q: @q, product_entries: @product_entries %>
  </div>
  <%= paginate @product_entries %>
  <table>
    <thead class='table-dark'>
      <tr>
        <th></th>
        <th>Общая цена продажи</th>
        <th>Общая цена закупки</th>
        <th>Разница</th>
        <th>Общее количество</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td><td></td><td></td><td></td>
        <td><%= @product_entries_data.sum(:amount) %></td>
      </tr>
      <tr>
        <th>В сумах</th>
        <td><%= num_to_usd(@product_entries_data.paid_in_uzs.sum(:sell_price)) %></td>
        <td><%= num_to_usd @product_entries_data.paid_in_uzs.sum(:buy_price) %></td>
        <td><%= num_to_usd(@product_entries_data.paid_in_uzs.sum(:sell_price) - @product_entries_data.paid_in_uzs.sum(:buy_price)) %></td>
      </tr>
    </tbody>
  </table>
</div>
