<div>
  <%= search_form_for @q, url: url, html: { class: 'form form-horizontal filter-form' } do |f| %>
    <div class="card shadow-lg">
      <div class="row">
        <div class="form-group col-xs-12 col-sm-3">
          <%= f.label :name_cont, 'Имя содержит:', class: 'control-label' %>
          <%= f.text_field :name_cont, class: 'form-control', autocomplete: :off %>
        </div>
        <div class="form-group col-xs-12 col-sm-3">
          <%= f.label :agent_user_id_eq, 'агент', class: 'control-label' %>
          <%= f.select :agent_user_id_eq, User.агент.pluck(:name, :id), {include_blank: true}, class: 'form-control' %>
        </div>
        <div class="form-group col-xs-12 col-sm-3">
          <%= f.label :diller_user_id_eq, 'дилер', class: 'control-label' %>
          <%= f.select :diller_user_id_eq, User.дилер.pluck(:name, :id), {include_blank: true}, class: 'form-control' %>
        </div>
        <div class="form-group align-self-center col-xs-12 col-sm-3">
          <%= f.submit 'Фильтр', class: 'btn btn-primary' %>
          <%= link_to 'Очистить', request.path, class: 'btn btn-default' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
