<body>
<main class='body-head'>
  <div class="wrapper shadow-card">
    <%= link_to default_create_sales_path(buyer_id: @buyer.id), method: :post, class: 'container btn btn-block btn-lg btn-warning' do %>
      Перейти к продажу <i class="fa fa-solid fa-chevron-right"></i>
    <% end %>
    <%# <%= link_to new_agent_presence_in_store_path(buyer_id: @buyer.id), class: 'btn btn-block container btn-lg btn-danger' do %>
      <%# Нету заказа? %>
    <%# <% end %>
    <div class="image-header header">
      <% @buyer.images.each do |image| %>
        <%= link_to image_tag(image, size: '50x50'), image.url, class: 'picture' %>
      <% end %>
    </div>
    <div class="content">
      <h1><%= @buyer.name %></h1>
      <p class="separator"></p>
      <h4><%= @buyer.phone_number %></h4>
      <ul>
        <li><div class="check"></div><p>Продано товар на сумму <%= num_to_usd(@buyer.sales.sum(:total_price)) %> сум.</p></li>
        <li><div class="check"></div><p>Из них оплачено <%= num_to_usd(@buyer.sales.sum(:total_paid)) %></p></li>
        <p class="separator"></p>
      </ul>
      <div class='d-flex justify-content-around flex-wrap'>
        <%= link_to sales_url(q: {buyer_id_eq: @buyer.id}), class: 'btn btn-sm btn-primary' do %>
          Просмотр историю продаж <i class="fa fa-solid fa-clock-rotate-left"></i>
        <% end %>
        <%= link_to edit_buyer_path(@buyer), class: "btn btn-sm btn-info" do %>
          Редактировать <i class="fa fa-solid fa-edit"></i>
        <% end %>

      </div>
      <p class="separator"></p><hr>
      <div id="map" style="height: 180px;"></div>
    </div>
  </div>
</main>
<footer id='buyer-info' style='display: none' data-longitude="<%= @buyer.longitude %>" data-latitude="<%= @buyer.latitude %>"></footer>
</body>
<%= stylesheet_link_tag 'buyer_info' %>
<script>
function initMap() {
  var buyerInfo = document.querySelector('#buyer-info'); // Added #
  var longitude = parseFloat(buyerInfo.dataset.longitude); // Parse latitude and longitude as floats
  var latitude = parseFloat(buyerInfo.dataset.latitude); // Parse latitude and longitude as floats
  console.log(longitude, ' ', latitude); // Swapped longitude and latitude
  var location = { lat: latitude, lng: longitude };
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: location
  });
  var marker = new google.maps.Marker({
    position: location,
    map: map
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCrf73WQ7VitOY7_PP0pSGmeBDw-Tiz38&libraries=places&callback=initMap"></script>
