<body>
<main class='body-head'>
  <div class="wrapper shadow-card">
    <%= link_to default_create_sales_path(buyer_id: @buyer.id), method: :post, class: 'btn btn-block btn-lg btn-warning' do %>
      Savdoga o'tish <i class="fa fa-solid fa-chevron-right"></i>
    <% end %>
    <div class="image-header header">
      <% @buyer.images.each do |image| %>
        <%= link_to image_tag(image, size: '50x50'), image.url, class: 'picture' %>
      <% end %>
    </div>
    <div class="content">
      <h1><%= @buyer.name %></h1>
      <p class="separator"></p>
      <h4><%= @buyer.phone_number %></h4>
      <ul>
        <li><div class="check"></div><p><%= num_to_usd(3433400340) %> so'mlik yuk olingan</p></li>
        <li><div class="check"></div><p><%= num_to_usd(30000000) %> so'm to'langan</p></li>
        <li><div class="check"></div><p><%= num_to_usd(30000000) %> so'm qarz</p></li>
        <p class="separator"></p>
      </ul>
      <div class='d-flex justify-content-around flex-wrap'>
        <%= link_to sales_url(q: {buyer_id_eq: @buyer.id}), class: 'btn btn-sm btn-primary' do %>
          Sotuv tarixni ko'rish <i class="fa fa-solid fa-clock-rotate-left"></i>
        <% end %>
        <%= link_to edit_buyer_path(@buyer), class: "btn btn-sm btn-info" do %>
          Malumotni o'zgartirish <i class="fa fa-solid fa-edit"></i>
        <% end %>

      </div>
      <p class="separator"></p><hr>
      <div id="map" style="height: 180px;"></div>
    </div>
  </div>
</main>
<footer></footer>
</body>
<%= stylesheet_link_tag 'buyer_info' %>

<script>
  function initMap() {
    var location = { lat: <%= @buyer.latitude %>, lng: <%= @buyer.longitude %> };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: location
    });
    var marker = new google.maps.Marker({
      position: location,
      map: map
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCrf73WQ7VitOY7_PP0pSGmeBDw-Tiz38&libraries=places&callback=initMap"></script>
