<div id="<%= dom_id agent_presence_in_store %>">
  <p>
    <strong>User:</strong>
    <%= agent_presence_in_store.user_id %>
  </p>

  <p>
    <strong>Buyer:</strong>
    <%= agent_presence_in_store.buyer_id %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= agent_presence_in_store.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= agent_presence_in_store.longitude %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= agent_presence_in_store.status %>
  </p>

  <p>
    <strong>Distance in meters:</strong>
    <%= agent_presence_in_store.distance_in_meters %>
  </p>

</div>
