<% if policy(sale).hide_for_agent? %>
  <div class='p-3' style='color: black;'>
    <%= simple_form_for(sale) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= f.input :status, as: :hidden, input_html: { value: current_user.дилер? ? 2 : 3 } %>

      <div class="form-inputs">
        <%= f.input :price_in_usd, label: false, as: :hidden %>
        <% not_disabled = sale.persisted? && sale.product_sells.empty? %>
        <%= f.input :total_price, label: "Итого цена", input_html: { disabled: !not_disabled, id: 'total-price' } %>
        <%= f.association :buyer, label: false, collection: Buyer.active.order(weight: :desc).order(name: :asc), include_blank: false, as: :hidden %>
        <%= f.input :total_paid, label: 'Итого оплачено' %>
        <%= f.input :payment_type, label: false, collection: Sale.payment_types.keys.map { |unit| [Sale.human_attribute_name("unit.#{unit}"), unit] }, include_blank: false, as: :hidden %>
        <%= f.input :comment, label: 'Коммент.' %>
        <%# <%= f.input :images, input_html: { multiple: true, accept: "image/*" }, label: 'Добавить рисунок' %><br/>
        <%= f.button :submit, 'Завершить' %>
      </div>
    <% end %>
  </div><br/>
<% end %>

<script>
  document.querySelector('#sale_total_paid').addEventListener('focus', function(e) {
    toggleTotalPaid()
  })

  document.querySelector('#sale_buyer_id').addEventListener('focus', function(e) {
    toggleTotalPaid()
  })

  function toggleTotalPaid(){
    if(document.querySelector('#sale_total_paid').value == null || document.querySelector('#sale_total_paid').value == 0){
      document.querySelector('#sale_total_paid').value = document.querySelector('#total-price').value
    }
  }
</script>
