<table class="table table-hover table-bordered table-striped">
  <thead>
    <tr>
      <th>#</th>
      <% unless defined?(shrink) %>
        <th>Qulflangan</th>
      <% end %>
      <th>Mijoz</th>
      <th>Umumiy xarid narxi</th>
      <th>To'langan summa</th>
      <% unless defined?(shrink) %>
        <th>Agent</th>
        <th>Diller</th>
        <th>Komment.</th>
        <th>Sanasi</th>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% sales.each do |sale| %>
      <tr id="sale_<%= sale.id %>">
        <td style="background-color: <%= detect_sale_status_row(sale.status) %>"><%= sale.id %></td>
        <% unless defined?(shrink) %>
          <td>
            <% if sale.closed? %>
              <%= clink_to 'Ochish', toggle_status_sale_path(sale),'fa-lock', :post %>
            <% else %>
              <%= clink_to 'Qulflash', toggle_status_sale_path(sale),'fa-unlock', :post %>
            <% end %>
          </td>
        <% end %>
        <td><%= sale.buyer.name %></td>
        <td title="<%= sale.payment_type %>" ><%= currency_convert(sale.price_in_usd, sale.total_price) %></td>
        <td><%= currency_convert(sale.price_in_usd, sale.total_paid) %></td>
        <% unless defined?(shrink) %>
          <td><%= sale.agent_user.name %></td>
          <td><%= sale.diller_user.name %></td>
          <td><%= sale.comment %></td>
          <td><%= strf_datetime sale.created_at %></td>
        <% end %>
        <td>
          <%= link_to html_view_sale_path(sale) do %>
            <%= image_tag image_url('printer.png'), style: 'width: 25px; height: 25px; cursor: pointer' %>
          <% end %>
          <%= clink_to 'Посмотреть', sale_path(sale), 'fa-search' %>
          <%= clink_to 'Изменить агента или диллера', edit_agent_or_diller_sale_path(sale), 'fa-user' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
