<div class='container'>
  <span onclick='window.print()' title='printerda chiqarish'>
    <%= image_tag image_url('printer.png'), style: 'width: 40px; height: 40px; cursor: pointer' %>
  </span>
  <br/><table class='container table table-striped border shadow table-bordered'>
    <thead class='table-dark'>
      <tr>
        <th>Товар</th>
        <th>Количество</th>
      </tr>
    </thead>
    <tbody>
      <% @grouped_packs.each do |pack_name, total_amount| %>
        <tr>
          <td><%= pack_name %></td>
          <td><%= total_amount %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <ul>
    <li>ИТОГО ЦЕНА: <%= num_to_usd @total_price %> cум</li>
  </ul>
</div>
<div class='btn-group m-5'>
  <%= link_to "распечатать счёт фактур", grouped_html_views_sales_path(@sales, q: params.permit![:q]), class: 'btn btn-secondary', target: '_blank' %>
  <%= link_to "Изменить всех жёлтых на синем", massive_status_update_sales_path(@sales, q: params.permit![:q]), class: 'btn btn-warning', method: :post %>
</div>
