<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <%= link_to 'BON', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Посмотреть
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'История продаж', sales_path, class: 'dropdown-item' %>
          <%= link_to 'История приход товаров', delivery_from_counterparties_path, class: 'dropdown-item' %>
          <%= link_to 'Склад', packs_path, class: 'dropdown-item' %>
          <%= link_to 'Клиенты', buyers_path, class: 'dropdown-item' %>
          <%= link_to 'Работники', users_path, class: 'dropdown-item' %>
          <%= link_to 'Хронология агентов', agent_presence_in_stores_path, class: 'dropdown-item' %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Операции
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Оформить продажу', buyers_path, class: 'dropdown-item' %>
          <%= button_to 'Склад приход', default_create_delivery_from_counterparties_path, method: :post, class: 'dropdown-item' %>
          <%= link_to 'Добавить покупателя', new_buyer_path, class: 'dropdown-item' %>
          <%= link_to 'Добавить товар', new_pack_path, class: 'dropdown-item' %>
          <%= link_to 'Добавить пользователя', new_user_path, class: 'dropdown-item' %>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to "Склад", packs_path, class: 'nav-link' %>
      </li>
      <% if %w[руководитель бухгалтер].include?(current_user.role) %>
        <li class="nav-item">
          <%= link_to 'Админ', admin_page_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
  <ul class="text-center navbar-nav ml-auto">
    <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.name&.capitalize %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= button_to "Выйти", destroy_user_session_url, method: :delete, data: { confirm: strip_tags('вы уверены?') }, class: "nav-link styled-delete-button", style: 'color: black' %>
          <div class="dropdown-divider"></div>
        </div>
      </li>
      <li class="nav-item ml-auto">
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Войти", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
  </ul>
</nav>
